* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
}

.App {
  background-color: #ffc13b;
  height: 100vh;
  width: 100vw;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
}

.box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  background-color: #f5f0e1;
  width: 60vw;
  border: 1px solid #1e3d59;
  color: #1e3d59;
  border-radius: 7px;

}

.btn {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.quote {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 32vh;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
}